header {
    background-color: white;
}

header section {
    justify-content: space-between;
    padding: 20px 70px;
    transition: var(--delay-time);
}

#header-line {
    height: 10px;
    background-color: #798490;
}

#avatar-box {
    padding: 73px;
    margin-right: 15px;
    border-radius: 100%;
    border: 1px solid black;
    background-image: url("../img/avatar.jpg");
    background-size: cover;
    background-position-y: center;
    transition: var(--delay-time);
}

#avatar-box:hover {
    border-radius: 5px;
}

#person-preview {
    flex-direction: column;
    justify-content: center;
}

#person-preview div:first-child {
    font-size: var(--main-text-size);
    transition: var(--delay-time);
}

#person-preview div:nth-child(2) {
    font-size: var(--under-main-text-size);
    margin-bottom: 5px;
    transition: var(--delay-time);
}

#contact-me {
    align-items: center;
}

#contact-me div {
    align-items: center;
    padding: 5px 10px;
    background-color: #43b436;
    border-radius: 5px;
    transition: padding var(--delay-time);
}

#contact-me div:hover {
    background-color: #35922b;
}

#contact-me a {
    text-decoration: none;
    color: white;
}

@media (max-width: 740px) {
    #avatar-box {
        padding: 43px;
    }

    header section {
        padding: 20px 30px;
    }
}

@media (max-width: 590px) {
    #person-preview div:first-child {
        font-size: calc(var(--main-text-size) - var(--text-changin-coefficient));
    }

    #person-preview div:nth-child(2) {
        font-size: calc(var(--under-main-text-size) - var(--text-changin-coefficient));
    }

    #contact-me div {
        font-size: calc(var(--default-text-size) - var(--text-changin-coefficient));
        padding: 2px 7px;
    }
}

@media (max-width: 510px) {
    #avatar-box, #contact-me {
        display: none;
    }

    header section {
        padding: 5px 10px;
        min-height: 450px;
        background-image: url("../img/avatar.jpg");
        background-size: cover;
        background-position-y: center;
    }

    #person-preview {
        justify-content: flex-end;
    }

    #person-preview div:first-child {
        color: var(--transparent-white);
        font-size: calc(var(--main-text-size) + var(--text-changin-coefficient) * 2);
    }

    #person-preview div:nth-child(2) {
        color: var(--transparent-white);
        font-size: calc(var(--under-main-text-size) + var(--text-changin-coefficient));
    }

    #person-preview div:nth-child(3) {
        display: flex;
        justify-content: space-between;
    }
}