:root {
    --vk-icon-size: 23px;
    --instagram-icon-size: 17px;
    --telegram-icon-size: 19px;
    --whatsapp-icon-size: 18.7px;
    --discord-icon-size: 20px;
    --icon-changing-size-coefficient: 7px;
}

#person-preview .icon {
    fill: #798490;
    margin-right: 7px;
    transition: var(--delay-time);
}

#person-preview .icon:hover {
    margin-bottom: calc(var(--icon-changing-size-coefficient) * -1);
}

#person-preview #discord-icon {
    width: var(--discord-icon-size);
    height: var(--discord-icon-size);
}

#person-preview #discord-icon:hover {
    fill: #5865F2;
    width: calc(var(--discord-icon-size) + var(--icon-changing-size-coefficient));
    height: calc(var(--discord-icon-size) + var(--icon-changing-size-coefficient));
}

#person-preview #instagram-icon {
    width: var(--instagram-icon-size);
    height: var(--instagram-icon-size);
}

#person-preview #instagram-icon:hover {
    width: calc(var(--instagram-icon-size) + var(--icon-changing-size-coefficient));
    height: calc(var(--instagram-icon-size) + var(--icon-changing-size-coefficient));
    fill: url(#myGradient);
}

#person-preview #telegram-icon {
    width: var(--telegram-icon-size);
    height: var(--telegram-icon-size);
}

#person-preview #telegram-icon:hover {
    fill: #3390ec;
    width: calc(var(--telegram-icon-size) + var(--icon-changing-size-coefficient));
    height: calc(var(--telegram-icon-size) + var(--icon-changing-size-coefficient));
}

#person-preview #vk-icon {
    width: var(--vk-icon-size);
    height: var(--vk-icon-size);
}

#person-preview #vk-icon:hover {
    fill: #2787f5;
    width: calc(var(--vk-icon-size) + var(--icon-changing-size-coefficient));
    height: calc(var(--vk-icon-size) + var(--icon-changing-size-coefficient));
}

#person-preview #whatsapp-icon {
    width: var(--whatsapp-icon-size);
    height: var(--whatsapp-icon-size);
}

#person-preview #whatsapp-icon:hover {
    fill: #00e676;
    width: calc(var(--whatsapp-icon-size) + var(--icon-changing-size-coefficient));
    height: calc(var(--whatsapp-icon-size) + var(--icon-changing-size-coefficient));
}

#contact-me #vk-icon {
    transition: var(--delay-time);
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-bottom: 3px;
    fill: white;
}

#certificates #link-icon, #certificates #download-icon {
    height: 20px;
    fill: #c2c2c2;
}

.certificateAction a:hover div #link-icon {
    fill: #4183c4 !important;
}

.certificateAction a:hover div #download-icon {
    fill: #25ab21 !important;
}

@media (max-width: 590px) {

    #contact-me #vk-icon {
        height: 19px !important;
        width: 19px !important;
    }
}

@media (max-width: 510px) {

    :root {
        --vk-icon-size: 35px;
        --instagram-icon-size: 29px;
        --telegram-icon-size: 31px;
        --whatsapp-icon-size: 30.7px;
        --discord-icon-size: 32px;
    }

    #person-preview #vk-icon {
        margin-top: -6.3px;
    }

    #person-preview .icon {
        fill: var(--transparent-white);
    }
}

